<center>
<table CLASS="formbg" >

<h2><p id="notice"><%= notice %></p></h2>
<table>
<tr>
<tr><td>
  <br/><b>Name:</b>
  <%= @question.name %></td></tr>

<tr><td>
  <b>Description:</b>
  <%= @question.description %></td></tr>

<tr><td><%= link_to 'Back', questions_path,:id => @question.id %> </td></tr>

</table ></center>
