<html>
<body bgcolor = "silver">

<img src ="/images/discuss.jpg" width="100%" height="180px" align = "top"/>
<h1> Questions </h1>
<% @ques = Question.find(:all)%>

<% @ques.each do |questions| %>
<% puts "&&&&&&&&&&&&&&&&",questions.id %>
  <h5><%=  link_to questions.name ,:controller => 'questions',:action => 'show' ,:id => questions.id%></h5>
<%end%>
<%= yield%>
</h>
<br />
<h3><blink><%= link_to 'Post A Question', new_question_path %><blink></h3>
</body>
</html>

