<div id="footer">
    Powered by <a href="http://www.indigenius.com/" onclick="window.open(this.href);return false;">Indigenius Solutions</a>
    © 2009-2010 
    | <a href="#about" rel="facebox">About</a>
</div>
