    <div id="header">
        <div id="welcome">
            Welcome,<span id="welcome_username"></span>
            <span>!&nbsp;&nbsp;</span>           
            |<a href="#">Profile</a>
            |<%=link_to 'Admin'%>|<%=link_to 'Logout',new_user_registration_path,:method=>:delete %>
        </div>
        <h3><%=link_to 'Mentor Mentee', root_path %>
         
        </h3>
  <h3>
    </div>


