<html>
<body bgcolor = "pink">
<center>
<center><h2>Mentor-Mentee Forum</h2></center>
<P ALIGN = "right">
<%= link_to "Signin", 'adminsession/new' %>
</p>
<%= link_to "Register", '/admin/new'%>
</center>
</body>
</html>
