<html>
<body >
<p id="notice"><%= notice %></p>


<p>
  
<h2> <b>Question:</b> <%= @question.name %></h2>
<br /> <br />

</p>
<% @answerlist.each do |ans| %>
  <tr>
     <td> <h3><%= ans.name%> </h3></td>   
     <p>Posted <%= time_ago_in_words(ans.created_at) %> ago</p> 
<% end%>
</body>
</html>

