<h1>Listing answers</h1>
<body bgcolor="Red"></body>
<table>
  <tr>
    <th>Name</th>
    <th>Question</th>   
  </tr>

<% @answers.each do |answer| %>
  <tr>
    <td><%= answer.name %></td>
    <td><%= answer.question_id %></td>

    <td><%= link_to 'Edit', edit_answer_path(answer) %></td>
    <td><%= link_to 'Destroy', answer, :confirm => 'Are you sure?', :method => :delete %></td> -->
  </tr>
<% end %>
</table>

<br />


