<%= form_for([:admin,@category]) do |f| %>
 

  <div class="field"><br /><br />
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= f.label :Category %>
    &nbsp;&nbsp;<%= f.text_field :name %> 
  </div><br/><br />
  <div class="actions">
   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <%= f.submit %>
  </div>
<% end %>
