<table  class="stats" cellspacing="0">
<%= form_for([:admin,@category]) do |f| %>
 

 <tr><td> <div class="field"><br /><br />
   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= f.label :Category %>
    &nbsp;&nbsp;<%= f.text_field :name %> <br/><br />
  </div>
  <div class="actions">
<%= f.submit %></td></tr>
  </div>
<% end %></table>
