 <%= stylesheet_link_tag 'saveedit',:media => "all" %>	
<img src="/images/editingcategory.gif" border="0"/><br/>

<%= render 'form' %><br/>



<ul id="css3menu" class="topmenu">
	
	<li class="topfirst"><%= link_to 'Back', admin_categories_path %> </li>
	
</ul></td>

<%= link_to image_tag("/images/back.gif", :border=>0), admin_categories_path %>   -->
