 
<img src="/images/Listingcategories.gif" border="0"/>


<<<<<<< HEAD
<ul   style="list-style-type:none;">
=======
<ul  style="list-style-type:none;">
>>>>>>> 31a48f4099fcbb35cb380bbc2504ca17d5c6e96d
  
<% @categories.each do |admin_category| %><br/>
  
   <li >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= link_to admin_category.name, :action=> 'show', :id => admin_category.id  %>
           <%= "(#{admin_category.subcategories.count})" -%></li><br />

   
  
<% end %>
</ul>


