 
<img src="/images/Listingcategories.gif" border="0"/>


<ul CLASS="formbg" style="list-style-type:none;">
  
<% @categories.each do |admin_category| %><br/>
  
   <li >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= link_to admin_category.name, :action=> 'show', :id => admin_category.id  %>
           <%= "(#{admin_category.subcategories.count})" -%></li><br />

   
  
<% end %>
</ul>


