<p id="notice"><%= notice %></p><br /><br />
<ul CLASS="formbg">

<td><h1><%= @category.name %><br /><br /></h1><td>



<%@category.subcategories.each do |s|%>
 <li><%= link_to s.name%><li>
<%end%>


<br/>


