<br/>
<table class="stats" cellpadding="50">
<p id="notice"><%= notice %></p>


<th><%= @category.name %></th>



<%@category.subcategories.each do |s|%><tr>
<td><%= link_to s.name, :action => 'question', :id=>s.id %>&nbsp;&nbsp;</td></tr>
<%end%>
</table>


