<p id="notice"><%= notice %></p><br /><br />
<ul >

<td><h1><%= @category.name %><br /><br /></h1><td>

<%@category.subcategories.each do |s|%>
<<<<<<< HEAD
 <%= link_to s.name, :action => 'question', :id =>s.id  %>&nbsp;&nbsp;&nbsp;
=======
<%= link_to s.name, :action => 'question', :id=>s.id %>&nbsp;&nbsp;
>>>>>>> 31a48f4099fcbb35cb380bbc2504ca17d5c6e96d
<%end%>

<br/>


