<p id="notice"><%= notice %></p><br /><br />
<ul >

<td><h1><%= @category.name %><br /><br /></h1><td>

<%@category.subcategories.each do |s|%>
 <%= link_to s.name, :action => 'question', :id =>s.id  %>&nbsp;&nbsp;&nbsp;
<%end%>

<br/>


